doctype
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Products
    link(href='vendor/bootstrap/css/bootstrap.css' rel='stylesheet')
    link(href='vendor/custom-select/style.css' rel='stylesheet')

    block style
  body
    #app
      block content

    script(src='vendor/jquery/index.js')
    script(src='vendor/custom-select/index.js')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' crossorigin='anonymous')
    script(src='vendor/bootstrap/js/bootstrap.js')
    script(src='vendor/vue/index.js')
    
    block scripts
